# POKÉMON DATABASE:

Este trabalho foi realizado para a disciplina Banco de Dados I pela dupla de alunos da turma "970 LM Tech Data Talents - Leroy Merlin" da Ada:

* Claudia Cavalcante Fonseca
* Hevans Vinicius Pereira

Nós iremos trabalhar com a database de [pokémon](https://www.kaggle.com/datasets/clearnote01/pokemon-database-veekun) criada pelo usuário ClearNote do Kaggle, originalmente dada em SQLite.

Usando o programa ESF Database Migration Toolkit, nós convertemos a base para PostgreSQL.

A conversão gerou um banco com 172 tabelas com muita informação sobre os jogos de Pokémon, e vamos tentar capturar as principais informações.

Vamos conectar e analisar as principais tabelas.

In [130]:
from sqlalchemy import create_engine,text;
import pandas as pd;

engine = create_engine(f"postgresql+psycopg2://postgres:johann@localhost/postgres")
#engine = create_engine(f"postgresql+psycopg2://postgres:senha@localhost/postgres")
conexao=engine.connect();

In [131]:
print(pd.__version__)

1.5.3

## A tabela "pokemon" tem os campos:

* id: Um inteiro serial que serve de identificador.
* identifier: Uma string com tamanho menor ou igual a 79 (VARCHAR 79) com o nome do pokémon
* species_id: Um campo de inteiro possivelmente nulo que indica a espécie do pokémon
* height e width: Campos inteiros com altura e peso médios dos pokémon
* base_experience: Campo inteiro com a experiência base do pokémon
* order: Um campo que dá uma ordenação diferente da original (com o identificador). É usado pra agrupar pokémon da mesma família e que foram criados em gerações distintas. Por exemplo, na ordem natural, temos: Bulbasaur, Ivysaur, Venusaur, Charmander, ... . Ordenando por "order", temos Bulbasaur, Ivysaur, Venusaur, Venusaur-mega e, só depois, Charmander.
* is_default: Um campo de boolean que indica se aquela é a forma padrão do pokémon ou não (pokémon com nacionalidades ou características específicas não são formas-padrão).
* trial630 : Um campo de char adicionado quando exportamos o SQLite para o PostgreSQL (porque usamos o ESF Database Migration Toolkit versão trial). Serve como um boolean. (Todas as tabelas têm esse campo, então iremos suprimir das próximas listagens)

## A tabela "types" tem os campos:

* id: Um inteiro serial que serve de identificador.
* identifier: Uma string com tamanho menor ou igual a 79 (VARCHAR 79) que indica o nome do tipo
* generation_id: Um inteiro com o id da geração onde aquele tipo foi criado. É uma chave estrangeira para o campo "id" da tabela generations.
* damage_class_id: Um inteiro com o id da classe de dano causada por cada tipo. É uma chave estrangeira para o campo "id" da tabela move_damage_classes.

## Já a tabela "pokemon_types" tem os campos:

* pokemon_id: Um inteiro com o id correspondente do pokémon na tabela "pokemon". É uma chave estrangeira para o campo "id" da tabela pokemon.
* type_id: Um inteiro com o id correspondente do tipo. É uma chave estrangeira para o campo "id" da tabela tipo.
* slot: Um inteiro contendo o slot do tipo do pokémon. Como cada pokémon pode ter 1,2 ou 3 tipos. Esses slots indicam se o tipo é principal, secundário ou terciário.

## A tabela "type_names" tem os campos:

* type_id: Um inteiro com o id correspondente do tipo na tabela types.
* local_language_id: Um inteiro com o id correspondente da língua na tabela languages.
* name: Uma string com tamanho menor ou igual a 79 (VARCHAR 79) que indica o nome do tipo naquela língua.

## Observação:

Os tipos dos campos de qualquer tabela podem ser acessados através da tabela information_squema.columns do PostgreSQL.
Assim, para saber os campos de qualquer tabela, basta fazermos um SQL simples. Por exemplo:

In [132]:
query = """
SELECT column_name,
       udt_name,
       ( column_default LIKE 'nextval(%)' ) AS serial,
       character_maximum_length,
       is_nullable
FROM   information_schema.COLUMNS
WHERE  ( table_schema = 'pokemon_schema'
         AND table_name = 'generation_names' )
""";

print("A tabela 'generation_names' tem os campos:");
print(pd.read_sql_query(text(query), con=conexao));

A tabela 'generation_names' tem os campos:
         column_name udt_name serial  character_maximum_length is_nullable
0      generation_id     int4   True                       NaN          NO
1  local_language_id     int4   None                       NaN          NO
2               name  varchar   None                      79.0          NO
3           trial620   bpchar   None                       1.0         YES

### Agora vamos contar os campos nulos em algumas tabelas:
* O campo identifier na tabela location_areas
* O campo name na tabela location_area_prose 
* O campo baby_trigger_item_id na tabela evolution_chains

In [133]:
dict_campos_tables={'identifier':'location_areas', 'name':'location_area_prose','baby_trigger_item_id':'evolution_chains'}

for key,value in dict_campos_tables.items():
    print(f'\nTabela {value}\n');
    query=("SELECT COUNT(*) AS quantidade_nulos FROM pokemon_schema."+value+" WHERE "+key+" ISNULL");
    print(pd.read_sql_query(text(query), con=conexao));

Tabela location_areas

   quantidade_nulos
0               290

Tabela location_area_prose

   quantidade_nulos
0               258

Tabela evolution_chains

   quantidade_nulos
0               356

## Vamos verificar quantos valores ausentes temos para cada coluna da tabela pokemon

In [134]:
query = f"SELECT column_name FROM information_schema.columns WHERE table_schema='pokemon_schema' AND table_name='pokemon'"
colunas = pd.read_sql_query(text(query), con = conexao).values

for coluna in colunas.tolist():
    correcao=coluna[0] if coluna[0]!="order" else "pokemon.order"
    query = f"SELECT COUNT(*) FROM pokemon_schema.pokemon WHERE {correcao} IS NULL"
    count = pd.read_sql_query(text(query), con = conexao).iloc[0,0]
    print(f'{coluna[0]}: {count}')

id: 0
identifier: 0
species_id: 0
height: 0
weight: 0
base_experience: 0
order: 0
is_default: 0
trial630: 0

A tabela "pokemon" é uma tabela consistente. Não temos nenhum nulo nessa tabela. Pra obter a quantidade de nulos em todas as colunas do banco, basta tirar a restrição "AND table_name='pokemon'", mas não recomendamos isso... São muitas tabelas e algumas podem ter nomes inoportunos como o campo "order" da tabela "pokemon".

### Agora vamos nos perguntar quantos e quais são os campos únicos em algumas tabelas.

Por exemplo, contando os distintos "type_id" da tabela "pokemon_types", conseguimos saber quantos tipos de pokémon de fato têm pokémon no nosso banco de dados. Sabendo que na tabela "types" existem 20 tipos, conseguimos encontrar quantos tipos não têm pokémon no nosso banco.

In [135]:
query = """
SELECT COUNT(id) AS contador
FROM pokemon_schema.types 
""";

a = pd.read_sql_query(text(query), con=conexao);

qtd_tipos = a['contador'].values[0];

print(f"No total, há {qtd_tipos} tipos de pokémon");

query2 ="""
SELECT COUNT(DISTINCT(type_id)) AS contador
FROM pokemon_schema.pokemon_types
""";

b = pd.read_sql_query(text(query2), con=conexao);
qtd_real = b['contador'].values[0];

print(f"Porém, nossos pokémon só têm {qtd_real} tipos distintos.O que significa que temos {qtd_tipos-qtd_real} tipos sem pokémon no nosso banco.");

No total, há 20 tipos de pokémon
Porém, nossos pokémon só têm 18 tipos distintos.O que significa que temos 2 tipos sem pokémon no nosso banco.

## Histograma

Vamos fazer um histograma uniforme sobre um aspecto básico (e bem polêmico) dos Pokémon, suas alturas médias. Para isso, usamos apenas a tabela "pokemon", mas tivemos que encontrar o menor valor das alturas, o maior valor, criar um histograma usando a função width_bucket, calcular os ranges do histograma e povoá-lo com a frequência de pokémon em cada range. Depois disso, fizemos um repeat com quadradinhos pela frequência pra desenhar uma barrinha.

(Ps.: Essa altura foi dada em decâmetros no banco de dados)

In [136]:
query = """
WITH 
minimo AS (SELECT min(height) as mini from pokemon_schema.pokemon), 
maximo AS (SELECT max(height) as maxi from pokemon_schema.pokemon),
histograma as 
	(SELECT 
		width_bucket(height, minimo.mini, maximo.maxi,9) as bucket, 
		int4range(min(height), max(height), '[]') as range_dam,
		count(*) as freq
	FROM pokemon_schema.pokemon
	JOIN minimo ON TRUE
	JOIN maximo ON true
	group by bucket
	order by bucket)
select bucket, range_dam, freq,
        repeat('■',
               (   freq::float
                 / max(freq) over()
                 * 30
               )::int
        ) as barra 
from histograma;	
"""

df = pd.read_sql_query(text(query), con=conexao)
df

   bucket   range_dam  freq                           barra
0       1     [1, 17)   654  ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
1       2    [17, 33)   129                          ■■■■■■
2       3    [33, 46)    11                               ■
3       4    [50, 63)     6
4       5    [65, 71)     5
5       6    [88, 93)     2
6       7   [98, 109)     3
7      10  [145, 146)     1

Agora façamos algumas perguntas interessantes para o nosso banco de dados.

### 1. Quais são os pokémon mais pesados da primeira e segunda gerações?

Para responder essa pergunta, nós precisamos filtrar os pokémon da 1ª e 2ª gerações. Para isso, precisamos encontrar quais pokémon têm alguma forma que existia na primeira geração (visto que alguns pokémon têm formas alternativas introduzidas em gerações específicas. Por exemplo, o "Pikachu Rock Star" pode ter um peso diferente do "Pikachu" da primeira geração e é introduzido apenas na 6ª geração. Por outro lado, a forma "Pikachu" tem sempre o mesmo peso, mesmo quando aparece em outras gerações).

Assim, nós precisamos dos pokémon que possuem alguma forma na primeira geração ordenados por peso. 
Filtramos os 50 primeiros.

Ps.: Por algum motivo, o peso do banco de dados foi dado em inteiro e "200,1kg" foi guardado como "2001" por exemplo. Assim, tivemos que dividir o peso por 10.

In [137]:
query ="""
SELECT DISTINCT( pokemon_forms.identifier ) AS especie,
               height                       AS altura,
               (CAST(weight AS FLOAT ))/10  AS peso
FROM   pokemon_schema.pokemon
       LEFT JOIN pokemon_schema.pokemon_forms
              ON pokemon_id = pokemon.id
       LEFT JOIN pokemon_schema.pokemon_form_generations
              ON pokemon_form_id = pokemon_forms.id
WHERE  pokemon_form_generations.generation_id IN ( 1, 2 )
ORDER  BY peso DESC
LIMIT  50 
""";

print(pd.read_sql_query(text(query), con=conexao));

       especie  altura   peso
0      snorlax      21  460.0
1      steelix      92  400.0
2        golem      14  300.0
3     gyarados      65  235.0
4       lapras      25  220.0
5      mantine      21  220.0
6        lugia      52  216.0
7    dragonite      22  210.0
8         onix      88  210.0
9    tyranitar      20  202.0
10       ho-oh      38  199.0
11       entei      21  198.0
12     suicune      20  187.0
13      raikou      19  178.0
14    arcanine      19  155.0
15     kingdra      18  152.0
16     pupitar      12  152.0
17    cloyster      15  132.5
18     machamp      16  130.0
19  forretress      12  125.8
20    ursaring      18  125.8
21      mewtwo      20  122.0
22     dewgong      17  120.0
23     donphan      11  120.0
24   exeggutor      20  120.0
25      rhydon      19  120.0
26      scizor      18  118.0
27     rhyhorn      10  115.0
28    graveler      10  105.0
29    meganium      18  100.5
30    venusaur      20  100.0
31    rapidash      17   95.0
32   charizard      17   90.5
33        seel      11   90.0
34  feraligatr      23   88.8
35      tauros      14   88.4
36   blastoise      16   85.5
37      dodrio      18   85.2
38  kangaskhan      22   80.0
39     starmie      11   80.0
40    slowking      20   79.5
41  typhlosion      17   79.5
42     slowbro      16   78.5
43     golduck      17   76.6
44       hypno      16   75.6
45     miltank      12   75.5
46      crobat      18   75.0
47    quagsire      14   75.0
48    larvitar       6   72.0
49    stantler      14   71.2

### 2. Quais são os menores pokémon (em altura) do tipo grama?

Para responder essa pergunta, precisamos fazer um join na tabela de tipo. Também quero saber se além do tipo "grama", esses pokémon têm algum outro tipo. (Isso vai duplicar os registros dos pokémon com mais de um tipo, mas...)

In [138]:
query = """
SELECT *
FROM   pokemon_schema.type_names
WHERE  local_language_id = 9
       AND name = 'Grass'
""";

a = pd.read_sql_query(text(query), con=conexao);
id_tipo_grama = a['type_id'].values[0];

query2 = f"""
SELECT pokemon.identifier as espécie,
       pokemon.height*10 as altura_media_cm,
       NAME as tipo
FROM   pokemon_schema.pokemon_types AS PT
       LEFT JOIN pokemon_schema.pokemon
              ON pokemon_id = pokemon.id
       LEFT JOIN pokemon_schema.pokemon_types AS PT2
              ON PT2.pokemon_id = pokemon.id
       LEFT JOIN pokemon_schema.type_names
              ON type_names.type_id = PT2.type_id
                 AND type_names.local_language_id = 9
WHERE  PT.type_id = {id_tipo_grama}
ORDER  BY pokemon.height,
          pokemon.identifier
"""

print(pd.read_sql_query(text(query2), con=conexao));

            espécie  altura_media_cm    tipo
0             budew               20   Grass
1             budew               20  Poison
2           foongus               20  Poison
3           foongus               20   Grass
4      shaymin-land               20   Grass
..              ...              ...     ...
152   venusaur-mega              240  Poison
153   venusaur-mega              240   Grass
154  abomasnow-mega              270     Ice
155  abomasnow-mega              270   Grass
156       serperior              330   Grass

[157 rows x 3 columns]

### 3. Em que lugares podemos encontrar um pokémon específico?

Queremos encontrar um pokémon da espécie Gloom nos jogos de pokémon. Quais os lugares que podemos encontrá-lo?

Vamos primeiro identificar o id do pokémon e buscar na tabela de "encontros" os lugares em que ele pode ser encontrado. Para encontrar o nome do lugar e a versão do jogo, precisaremos fazer alguns joins.

In [139]:
query = "SELECT * FROM pokemon_schema.pokemon WHERE identifier='gloom'";
a = pd.read_sql_query(text(query), con=conexao);
id_Gloom = a['id'].values[0];

query2 = f"""
SELECT versions.identifier  AS Jogo,
       locations.identifier AS Lugar,
       encounter_slot_id    AS Slot,
       min_level,
       max_level
FROM   pokemon_schema.encounters
       LEFT JOIN pokemon_schema.pokemon
              ON pokemon_id = pokemon.id
       LEFT JOIN pokemon_schema.versions
              ON versions.id = version_id
       LEFT JOIN pokemon_schema.location_areas
              ON location_area_id = location_areas.id
       LEFT JOIN pokemon_schema.locations
              ON location_areas.id = locations.id
WHERE  pokemon_id = {id_Gloom}
ORDER  BY jogo,
          min_level
""";

print(pd.read_sql_query(text(query2), con=conexao));

       jogo           lugar  slot  min_level  max_level
0   diamond  newmoon-island     2         50         50
1   diamond            None     2         51         51
2   diamond            None     4         52         52
3   diamond    spear-pillar     7         53         53
4   emerald   mossdeep-city   193         25         25
..      ...             ...   ...        ...        ...
63   yellow     pokepark-06    93         29         29
64   yellow     pokepark-07    93         30         30
65   yellow     pokepark-08    93         30         30
66   yellow     pc-yokohama    90         55         55
67   yellow  nintendo-world    93         58         58

[68 rows x 5 columns]

### 4. Quantas vezes cada pokémon pode ser encontrado? Quais os pokémon mais comuns?

Essa resposta pode ser respondida facilmente com um count na tabela de Encontros para cada pokémon.

Obs.: Sei que você achou que era o zubat, mas não é!

In [140]:
query = """
SELECT pokemon.identifier as espécie,
       COUNT(encounters.pokemon_id) AS encontros
FROM   pokemon_schema.pokemon
       LEFT JOIN pokemon_schema.encounters
              ON encounters.pokemon_id = pokemon.id
GROUP  BY pokemon.id
ORDER  BY encontros DESC
"""

print(pd.read_sql_query(text(query), con=conexao));

          espécie  encontros
0        magikarp       2857
1          audino       1103
2       excadrill       1084
3         goldeen       1047
4          golbat        960
..            ...        ...
806     wartortle          0
807    aerodactyl          0
808       cradily          0
809  slowbro-mega          0
810    victreebel          0

[811 rows x 2 columns]

### 6. Quais pokémon têm a ver com flores?

Para amantes de pokémon grama, essa é uma pergunta natural de se fazer. Quais pokémon tem alguma relação com flores? Para responder essa pergunta, precisamos encontrar as espécies que possuem "flower" no seu flavor_text (basicamente o texto da pokédex sobre aquele pokémon). 

Há vários textos de pokédex (porque há vários jogos e cada um tem tradutores distintos), mas qualquer texto está bom pra nós, então vamos escolher o "mínimo".

In [141]:
query = """
SELECT DISTINCT( pokemon_species.identifier ) AS nome,
               MIN(flavor_text) as descrição
FROM   pokemon_schema.pokemon_species_flavor_text
       LEFT JOIN pokemon_schema.pokemon_species
              ON pokemon_species.id = species_id
WHERE  flavor_text LIKE '%flower%'
       AND language_id = 9
GROUP  BY nome
ORDER  BY nome
""";

print(pd.read_sql_query(text(query), con=conexao));

          nome                                          descrição
0    abomasnow  They appear when the snow flowers\nbloom. When...
1    beautifly  Beautifly has a long mouth like a coiled needl...
2    bellossom  A Bellossom grows flowers more beautifully if ...
3   butterfree  Butterfree has a superior ability to search fo...
4       cacnea  CACNEA live in deserts with virtually no\nrain...
5       combee  The trio is together from birth. It constantly...
6      flabebe  It draws out and controls the hidden power\nof...
7      floette  It flutters around fields of flowers and cares...
8      florges  In times long past, governors of castles\nwoul...
9        gloom  Gloom releases a foul fragrance from the pisti...
10     ivysaur  If the bud on its back starts to\nsmell sweet,...
11      lileep  It disguises its tentacles as flowers to attra...
12   lilligant  Even veteran Trainers face a challenge in gett...
13    maractus  It uses an up-tempo song and dance to drive aw...
14    meganium  Its breath has the fantastic\nability to reviv...
15      mothim  It loves the honey of flowers and steals honey...
16     roselia  A ROSELIA that drinks nutritionally rich\nspri...
17     shaymin  It can dissolve toxins in the air to instantly...
18    skiploom  As soon as it\nrains, it closes\nits flower an...
19    venusaur  A bewitching aroma wafts from its flower.\nThe...
20   vileplume  Flaps its broad\nflower petals to\nscatter its...

### 7. Quais os tipos mais populares de pokémon no nosso banco?

Queremos saber quantos pokémon temos de cada tipo. Já vimos que há dois tipos sem nenhum pokémon no nosso banco. Mas, dos 18 tipos que temos pokémon, quais são os tipos que temos mais?

Para resolver esse problema, vamos precisar de um contador dos itens em pokémon agrupados por tipo (usando a tabela "pokemon_type", não a tabela "pokemon", já que cada pokémon pode ter mais de um tipo).

Impressionantemente, o tipo mais popular no nosso banco de dados é o tipo água. (O que nos faz pensar que a Misty esteve ajudando a povoar nossa base de dados).

In [142]:
query = """
SELECT t.identifier as tipo,
       COUNT(*) AS quantidade
FROM   pokemon_schema.pokemon_types
       LEFT JOIN pokemon_schema."types" t
              ON t.id = type_id
GROUP BY t.identifier, type_id
ORDER BY quantidade DESC, type_id
""";

print(pd.read_sql_query(text(query), con=conexao));

        tipo  quantidade
0      water         128
1     normal         102
2     flying         101
3      grass          95
4    psychic          90
5        bug          72
6     ground          67
7       fire          65
8     poison          62
9       rock          58
10  electric          56
11  fighting          53
12      dark          51
13    dragon          50
14     steel          49
15     ghost          46
16     fairy          41
17       ice          39

### 8. Quais são as habilidades mais comuns? E as mais raras?

As habilidades dos pokémon estão na tabela pokemon_abilities e seus nomes na tabela abilities. Basta fazer um join com um contador dos pokemon_id, agrupando por habilidade.

In [143]:
query = """
SELECT a.identifier      AS Habilidade,
       COUNT(pokemon_id) AS quantidade
FROM   pokemon_schema.abilities AS a
       LEFT JOIN pokemon_schema.pokemon_abilities AS pa
              ON pa.ability_id = a.id
GROUP  BY a.id
ORDER  BY quantidade DESC
"""

print(pd.read_sql_query(text(query), con=conexao));

      habilidade  quantidade
0       levitate          40
1     swift-swim          39
2         sturdy          36
3    chlorophyll          35
4       keen-eye          32
..           ...         ...
246   perception           0
247     sequence           0
248     lunchbox           0
249    conqueror           0
250      disgust           0

[251 rows x 2 columns]

### 9. Quais os pokémon capazes das habilidades mais raras?

Na query anterior, vimos que algumas habilidades são especificidades de apenas um pokémon. Que pokémon especiais são esses cujas habilidades são únicas?

In [144]:
query = """
SELECT pokemon.identifier         AS Pokémon,
       abilities.identifier       AS Habilidade,
       ability_prose.short_effect AS Efeito
FROM   (SELECT ability_id,
               COUNT(pokemon_id) AS qtd,
               MIN(pokemon_id)   AS pokemon_id
        FROM   pokemon_schema.pokemon_abilities pa
        GROUP  BY ability_id
        ORDER  BY qtd) AS special
       LEFT JOIN pokemon_schema.pokemon
              ON special.pokemon_id = pokemon.id
       LEFT JOIN pokemon_schema.abilities
              ON special.ability_id = abilities.id
       LEFT JOIN pokemon_schema.ability_prose
              ON ability_prose.ability_id = special.ability_id
WHERE qtd = 1
ORDER BY pokemon_id
""";

print(pd.read_sql_query(text(query), con=conexao));

            pokémon      habilidade  \
0             ditto        imposter
1          shedinja    wonder-guard
2           sableye           stall
3          zangoose     toxic-boost
4           kecleon    color-change
5          rayquaza        air-lock
6           cherrim     flower-gift
7         regigigas      slow-start
8           darkrai      bad-dreams
9            arceus       multitype
10          victini    victory-star
11          furfrou        fur-coat
12          xerneas      fairy-aura
13          yveltal       dark-aura
14          zygarde      aura-break
15  kangaskhan-mega   parental-bond
16    kyogre-primal  primordial-sea
17   groudon-primal   desolate-land
18    rayquaza-mega    delta-stream

                                               efeito
0   [Transforms]{move:transform} upon entering bat...
1   Protects against damaging moves that are not [...
2   Makes the Pokémon move last within its move's ...
3   Increases [Attack]{mechanic:attack} to 1.5× wh...
4   Changes type to match when hit by a damaging m...
5   Negates all effects of [weather]{mechanic:weat...
6   Increases friendly Pokémon's [Attack]{mechanic...
7   Halves [Attack]{mechanic:attack} and [Speed]{m...
8   Damages [sleeping]{mechanic:sleep} opponents f...
9   Changes []{pokemon:arceus}'s type and form to ...
10  Increases moves' accuracy to 1.1× for friendly...
11               Halves damage from physical attacks.
12  Strengthens []{type:fairy} moves to 1.33× thei...
13  Strengthens []{type:dark} moves to 1.33× their...
14  Makes []{ability:dark-aura} and []{ability:fai...
15  Lets the bearer hit twice with damaging moves....
16                                               None
17                                               None
18                                               None

### 10. Sabemos que cada tipo de ovo de pokémon pode abrigar várias espécies diferentes de pokémon. Qual o ovo que pode abrigar o maior número de espécies distintas?

Os pokémon podem ser classificado quanto ao seu "Egg Groups" (um grupo que de pokémon que podem nascer do mesmo tipo de ovo). Alguns pokémon vêm de mais de um tipo de ovo e outros nem vêm de ovos. O mundo pokémon é bem louco.

Vamos listar aqui quais os tipos de ovos e quantos pokémon podem vir de cada tipo (lembrando que o mesmo pokémon pode vir de mais de um tipo).  Logo depois, vamos listar quais pokémon não vêm de ovos.

In [145]:
query = """
SELECT egg_groups.identifier as tipo_de_ovo,
       COUNT(species_id) AS quantidade
FROM pokemon_schema.pokemon_egg_groups AS peg
     LEFT JOIN pokemon_schema.egg_groups
         ON egg_group_id = egg_groups.id
GROUP BY peg.egg_group_id, egg_groups.identifier
ORDER BY quantidade DESC
""";

print(pd.read_sql_query(text(query), con=conexao));

      tipo_de_ovo  quantidade
0          ground         200
1          water1          87
2         monster          75
3         no-eggs          73
4             bug          68
5           plant          59
6         mineral          54
7      humanshape          52
8          flying          50
9   indeterminate          49
10          fairy          47
11         dragon          45
12         water3          29
13         water2          23
14          ditto           1

In [146]:
query = """
SELECT ps.identifier AS especie
FROM   pokemon_schema.pokemon_egg_groups AS peg
       JOIN pokemon_schema.egg_groups
         ON egg_group_id = egg_groups.id
       JOIN pokemon_schema.pokemon_species AS ps
         ON peg.species_id = ps.id
WHERE egg_groups.identifier = 'no-eggs'
ORDER BY species_id
""";

print("Pokémon que não nascem de ovos: ")
print(pd.read_sql_query(text(query), con=conexao));

Pokémon que não nascem de ovos:
      especie
0    nidorina
1   nidoqueen
2    articuno
3      zapdos
4     moltres
..        ...
68    yveltal
69    zygarde
70    diancie
71      hoopa
72  volcanion

[73 rows x 1 columns]

### 11. E, por último, mas não menos importante, quantos pokémon cor-de-rosa nós temos?

Porque 'na quarta usamos rosa' ou não, queremos saber quais pokémon cor-de-rosa temos no nosso banco de dados. O mais legal é que essa informação está sim no banco de dados, a tabela pokemon_species tem esse campo em forma de identificador/código conforme a tabela pokemon_colors.
Vamos listar quantos pokémon temos de cada cor.

In [147]:
query = """
SELECT pokemon_colors.identifier AS cor,
       COUNT(pokemon_species.id) AS quantidade
FROM   pokemon_schema.pokemon_species
       RIGHT JOIN pokemon_schema.pokemon_colors
               ON pokemon_colors.id = pokemon_species.color_id
GROUP BY pokemon_colors.id, pokemon_colors.identifier
ORDER BY quantidade DESC
""";

print(pd.read_sql_query(text(query), con=conexao));

query2 = """
SELECT pokemon_species.identifier AS nome
FROM   pokemon_schema.pokemon_species
       RIGHT JOIN pokemon_schema.pokemon_colors
               ON pokemon_colors.id = pokemon_species.color_id
WHERE pokemon_colors.identifier = 'pink'
ORDER BY pokemon_species.id
""";

print('\n E os pokémon cor-de-rosa são:');
print(pd.read_sql_query(text(query2), con=conexao));

      cor  quantidade
0    blue         134
1   brown         111
2   green          79
3     red          75
4    gray          67
5  yellow          64
6  purple          64
7   white          54
8    pink          41
9   black          32

 E os pokémon cor-de-rosa são:
          nome
0     clefairy
1     clefable
2   jigglypuff
3   wigglytuff
4     slowpoke
5      slowbro
6    exeggcute
7    lickitung
8      chansey
9      mr-mime
10     porygon
11         mew
12      cleffa
13   igglybuff
14     flaaffy
15      hoppip
16    slowking
17    snubbull
18     corsola
19    smoochum
20     miltank
21     blissey
22     whismur
23      skitty
24     milotic
25    gorebyss
26     luvdisc
27     cherubi
28     cherrim
29     mime-jr
30     happiny
31  lickilicky
32     mesprit
33       munna
34    musharna
35      audino
36   alomomola
37    spritzee
38  aromatisse
39     sylveon
40     diancie